__pycache__/parseProcessedDataFileForScikit.cpython-34.pyc
__pycache__/parseProcessedDataFileForScikit.cpython-34.pyc
__pycache__/parseProcessedDataFileForScikit.cpython-34.pyc
__pycache__/parseProcessedDataFileForScikit.cpython-34.pyc
__pycache__/BlitzerDatasetDomain.cpython-34.pyc
__pycache__/WordFrequencyModel.cpython-34.pyc
__pycache__/ActiveLearner.cpython-34.pyc
*.pyc